.cartHide{
    display: none;
}

.cartShow{
    position: fixed;
    inset: 90px 30% 0px 70%;
    padding: 10px 30px;
    width: 300px;
    border-radius: 20px;
    height: 200px;
    
    box-shadow: 10px 10px 20px #b1b1b1 ;
    background-color: white;
}

.cartShow p:first-child{
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    color: hsl(219, 9%, 45%);
}

.cartShow .emptyText{
    align-items: center;
}
.cartShow .details{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartShow .details img:first-child{
    width: 40px;
    border-radius: 5px;
}

.cartShow button{
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 1rem;
    margin: 1rem 0rem;
    font-weight: 600;
}
.cartShow p{
    color: hsl(220, 14%, 75%);
    font-size: 14px;
}
p span{
    color: black;
    font-weight: 600;
}

@media screen and (max-width:768px){
    .cartShow{
        position: fixed;
        inset: 90px 0px 0px 20px;
        padding: 10px 30px;
        width: 300px;
        border-radius: 20px;
        height: 200px;
        box-shadow: 10px 10px 20px ;
        background-color: white;
        z-index: 9999;
        box-shadow: 10px 10px 20px #383838 ;
    }
    
}