.App {
  text-align: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 70%;
  align-items: center;
  margin: auto;
  padding: 30px;
  box-shadow:0 -5px 3px -3px rgb(0, 110, 255), 0 5px 3px -3px rgb(211, 211, 211);
  ;
}

header ul  {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  align-items: center;
  flex-basis: 65%;
}

header ul li {
  padding:0px 15px;
  font-size: 16px;
  color: hsl(219, 9%, 45%);
}

header button:first-child{
  display: none;
}

header > button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button:last-child img{
  height: 45px;
}


@media screen and (max-width:768px) {
  
  .App{
    backdrop-filter:  hsl(0, 0%, 0%,0.75);
  }

  header button:first-child{
    display: block;
    z-index: 9999;
    padding-top: 10px;
  }

  header{
    width: 100%;
   
  }
  header>img{
    padding: 0rem 6rem 0rem 0rem;
  }

  header button:last-child img{
    height: 30px;
  }
  

  header .active {
  
    font-size: 16px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    inset: 0px;
    height: 100%;
    width:70%;
    padding-top: 100px;
    z-index: 1000;
    color: hsl(219, 9%, 45%);
    transition: 0.3s ease-in-out;
  }

  header .inactive {
    display: none;
    font-size: 16px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    inset: 0px;
    height: 100%;
    width:70%;
    left: -300px;
    padding-top: 100px;
    z-index: 1000;
    color: hsl(219, 9%, 45%);
    transition: 0.3s ease-in-out;
  }
  header ul li{
    margin: 0px 0px 20px 10px;
    align-items: flex-start;
    display: flex;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: hsl(220, 13%, 13%);
  }
  
}
